body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-size: contain;
  height: 100vh;
}
.card {
  background: linear-gradient(#636363, #a2ab58);
  width: 350px;
  height: 450px;
  color: white;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 0 6px black;
  border: 3px solid;
  border-color: #a2ab58;
  border-radius: 10px;
}
.yo {
  display: block;
  width: 200px;
  height: 200px;
  margin: 20px auto;
  color: white;
  object-fit: cover;
  border-radius: 50%;
}
.titulo {
  padding-bottom: inherit;
}
.parrafo {
  font-style: italic;
}

.socialmedia {
  font-size: 15px;
  color: rgb(12, 128, 143);
}

.twitter {
  width: 30px;
  height: 30px;
}

.linkedin {
  width: 30px;
  height: 30px;
}

.facebook {
  width: 30px;
  height: 30px;
}
